<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <a href="https://plus.google.com/+GDGKozhikode">
                <svg class="icon" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
                </svg>
            </a>&nbsp;&nbsp; 

            <a href="https://twitter.com/GDGKozhikode">
                <svg class="icon" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use> 
                </svg>
            </a>&nbsp;&nbsp;

            <a href="https://www.facebook.com/GDGKozhikode">
                <svg class="icon" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-facebook"></use>
                </svg>
            </a>

            <h4>{{ site.tweetsFeedTitle1 }} <a href="https://plus.google.com/s/%23{{ site.twitterHashTag11 }}" target="_blank">#{{ site.twitterHashTag11 }}</a> | <a href="https://plus.google.com/s/%23{{ site.twitterHashTag12 }}" target="_blank">#{{ site.twitterHashTag12 }}</a>
            </h4>

            <h4>{{ site.tweetsFeedTitle2 }} <a href="https://twitter.com/search?q=%23{{ site.twitterHashTag21 }}" target="_blank">#{{ site.twitterHashTag21 }}</a> | <a href="https://twitter.com/search?q=%23{{ site.twitterHashTag22 }}" target="_blank">#{{ site.twitterHashTag22 }}</a>
            </h4>

            <h4>{{ site.tweetsFeedTitle3 }} <a href="https://www.facebook.com/hashtag/{{ site.twitterHashTag31 }}" target="_blank">#{{ site.twitterHashTag31 }}</a> | <a href="https://www.facebook.com/hashtag/{{ site.twitterHashTag32 }}" target="_blank">#{{ site.twitterHashTag32 }}</a>
            </h4>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
