<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<p></p>
<center>
	<div style="width:1000px; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=14597889681&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://devfest-kozhikode.eventbrite.com/?ref=etckt">GDG DevFest Kozhikode 2014</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
	<a href="http://www.eventbrite.com/e/gdg-devfest-kozhikode-2014-registration-14597889681?ref=ebtnebregn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=14597889681" alt="Eventbrite - GDG DevFest Kozhikode 2014" /></a>
</center>
</section>
<!-- End Tickets Section -->