<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<p></p><p></p>
<center>
	<div style="width:1100px; text-align:left;" >
  		<iframe src="http://www.eventbrite.com/tickets-external?eid=14597889681&ref=etckt&v=2" frameborder="0" height="256" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
	</div>
	<a href="http://www.eventbrite.com/e/gdg-devfest-kozhikode-2014-registration-14597889681?ref=ebtnebregn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=14597889681" alt="Eventbrite - GDG DevFest Kozhikode 2014" /></a>
</center>
</section>
<!-- End Tickets Section -->